.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

.cdk-header-cell {
  font-weight: bold;
}

a {
  color: #536dfe;
  cursor: pointer;
}
