.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

.cdk-header-cell {
  font-weight: bold;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-align: left;
  color: #536dfe;
  cursor: pointer;
}
