<mat-card appearance="outlined">
  <mat-toolbar color="primary">Available Courses</mat-toolbar>

  <div class="mat-elevation-z8" *ngIf="courses$ | async as coursePage; else loading">
    <app-courses-list
      [courses]="coursePage.courses"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onRemove($event)"
      (view)="onView($event)"></app-courses-list>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
      [length]="coursePage.totalElements"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      (page)="refresh($event)"
      aria-label="Select page of courses"></mat-paginator>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
