@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto, Helvetica Neue, sans-serif',
      plain-family: 'Roboto, Helvetica Neue, sans-serif',
    ),
    density: (
      scale: 0,
    ),
  ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
