@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto, Helvetica Neue, sans-serif',
      plain-family: 'Roboto, Helvetica Neue, sans-serif',
    ),
    density: (
      scale: 0,
    ),
  ));
}

mat-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: #4995eb,
    container-text-color: #fff,
  ));
}

html {
  @include mat.fab-overrides((
    small-container-color: #536dfe,
    small-foreground-color: #fff,
  ));
}

.danger-action {
  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-error),
    state-layer-color: var(--mat-sys-error),
  ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
