<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer mode="side" opened="true" class="example-sidenav">
    <div>
      <h3>{{ course.name }}</h3>
    </div>
    <mat-nav-list dense *ngIf="course.lessons">
      <ng-template ngFor let-lesson [ngForOf]="course.lessons">
        <mat-list-item class="list-with-border" (click)="display(lesson)">
          <span mat-line>{{ lesson.name }}</span>
        </mat-list-item>
      </ng-template>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <youtube-player #ytPlayer [videoId]="selectedLesson.youtubeUrl"></youtube-player>
  </div>
</mat-drawer-container>
